* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #f5f0e1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Merriweather", serif;
}

#book-wrapper {
    width: 90vw;
    max-width: 1100px;
    aspect-ratio: 1100/750;
    transition: transform 0.4s ease-out;
}

#book {
    width: 100%;
    height: 100%;
}

#book,
#book .page,
#book .hard {
    pointer-events: all;
}

#book .hard {
    position: relative;
    background: linear-gradient(145deg, #801c11, #a32c1b) !important;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#book .hard small {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
}

#book .page {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#book .page h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 600;
}

#book .page p {
    font-size: clamp(12px, 50%, 16);
    line-height: 1.4;
    text-align: center;
}

#book .hard p {
    margin: 60px;
}

#book .page p br {
    line-height: 0.1;
    content: "";
    display: block;
    margin: 0;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}

#prev-page {
    left: 10px;
}

#next-page {
    right: 10px;
}

@media (max-width: 767px) {
    #book-wrapper {
        width: 90vw;
        max-width: 400px;
        height: 80vh;

        aspect-ratio: auto;
    }

    #book,
    #book .page,
    #book .hard {
        pointer-events: none;
    }

    .nav-btn {
        position: fixed;
        bottom: 10px;
        top: auto;
        transform: none;
        width: 45%;
        font-size: 1.2rem;
        z-index: 20;
    }

    #prev-page {
        left: 5%;
    }

    #next-page {
        right: 5%;
    }
}
